/* @import url("navigation.css"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  gap: 2em;
}

body > * {
  background-color: lightskyblue;
  padding: 1em;
  border-radius: 0.3em;
}

header,
footer {
  flex: 1 1 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex: 1 1 70%;
}

main ul {
  padding-left: 2em;
  margin-top: 1em;
}

nav ul {
  display: flex;
}

nav li {
  display: block;
}

nav a {
  display: block;
  padding: 1em 1.5em;
}

header a {
  text-decoration: none;
}

aside {
  flex: 1 1 25%;
}

aside ul {
  list-style-type: none;
}
aside ul li {
  text-decoration: none;
  padding-top: 1em;
}

aside ul li a {
  text-decoration: none;
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
  }

  nav ul,
  header {
    display: block;
  }
}
